.metadata{
padding-top:1px;
padding-left:10px
}


.image{
 position: absolute;
    top: 20px;
    right: 40px;
	}
	#details
	{
	position:relative;
	   padding: 15px 0;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
	
	}
	div{
	padding-bottom:4px;}
	
	
	
ul li{
padding-bottom:4px;
font-family: "Times New Roman", Times, serif;
font-weight: bold;
}
.title a{
color:#0079d6;
font-family: "Times New Roman", Times, serif;
padding-left:4px;
}
a:hover {
   color:blue;
}









   

   